body{
    color: white;
}
body{
    background-image: url("https://img.freepik.com/premium-vector/programming-code-icon-made-with-binary-code-coding-hacker-matrix-background-with-digits-1-0_127544-1141.jpg?w=2000");
    background-repeat: no-repeat;
    height: 120%;
    width: 90%;
    background-size: cover;
}
h1{
    font-size: 40px;
}
#un{
    font-weight:30;
    font-size: 20px;
}
#sa{
    font-size: 20px;
}
#bn{
    font-size:  10px;
}
#dn{
    font-size: 20px;
}
table{
    box-sizing: border-box;
}